@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script:wght@700&family=Roboto:wght@300;900&display=swap');

#coverLetter{
    height: 100vh;
    background-image: url(../asset/img/cover.webp);
    background-size: cover;
    background-position: center;
}
#coverLetter .coverWrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}
#coverLetter h1{
    font-size: 5em;
    margin-top: -20px;
}
#coverLetter p{
    font-size: 1.3em;
}
#coverLetter .btn{
    color: white;
    background-color: rgba(0, 0, 0, .5);
    border: 2px solid white;
}
#coverLetter .btn:hover{
    color: black;
    background-color: white;
    border: 2px solid white;
}
.openCover{
    transition: 1s all ease;
    transform: translateY(-100vh);
}
main{
    overflow: hidden;
}

#floatNavbar{
    position: fixed;
    bottom: 10px;
    padding: 30px;
}
.floNav{
    width: 35%;
    height: 100px;
    background-color: rgba(255, 255, 255, .6);
    border: 6px solid rgba(255, 255, 255, .7);
}
#floatNavbar li{
    margin-right: 20px;
    margin-left: 20px;
}
#floatNavbar img{
    transform: scale(3);
}

#jumbotron{
    height: 100vh;
    background-image: url(../asset/img/jumbotron.webp);
    background-size: cover;
    background-position: center;
}
#jumbotron .jumboWrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}
#jumbotron h1{
    font-size: 5em;
    margin-top: -20px;
}
#jumbotron p{
    font-size: 1.3em;
}
#coupleInfo .salam img{
    width: 300px;
}
.pengantin img{
    width: 200px;
    border: 7px solid rgb(231, 211, 211);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
#coupleInfo{
    background-image: url(../asset/img/bg/bg2.svg);
    background-size: cover;
    background-position: center;
}
#coupleInfo figcaption{
    margin-top: 10px;
    line-height: 1em;
}
#eventInfo iframe{
    width: 100%;
    height: 400px;
}
#gallery{
    background-image: url(../asset/img/bg/bg2.svg);
    background-size: cover;
    background-position: center;
}
#video iframe{
    width: 100%;
    height: 500px;
}
#protocol{
    padding-bottom: 150px;
}
#rsvp, #protocol{
    background-image: url(../asset/img/bg/bg2.svg);
    background-size: cover;
    background-position: center;
}
.card img{
    margin: 0 auto;
    width: 80px;
}
p, .btn, cite, input, label, h5, textarea, strong{
    font-family: 'Comfortaa', cursive;
}
h1, h2, h3{
    font-family: 'Dancing Script', cursive;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2.5em;
}

/* BREAKPOINTS */
@media (max-width: 576px) {
    #coverLetter h1{
        font-size: 3em;
        margin-top: -10px;
    }
    #coverLetter p{
        font-size: 1em;
    }
    #jumbotron h1{
        font-size: 3em;
        margin-top: -10px;
    }
    #jumbotron p{
        font-size: 1em;
    }
    #coupleInfo .salam img{
        width: 200px;
    }
    .pengantin img{
        width: 150px;
        border: 4px solid rgb(231, 211, 211);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
    }
    #coupleInfo figcaption{
        margin-top: 5px;
        line-height: 1em;
    }
    #eventInfo iframe{
        width: 100%;
        height: 250px;
    }
    #video iframe{
        width: 100%;
        height: 250px;
    }
    #gift .btn{
        font-size: .8em;
        line-height: 1em;
    }
    #protocol img{
        width: 40px;
    }
    p, cite, input, label{
        font-size: .8em;
        line-height: 1em;
    }
    figcaption{
        font-size: .8em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 2em;
    }
}

/* ANIMATION */
.fadeEffect{
    opacity: 0;
    animation: fading 3s ease forwards;
}
@keyframes fading {
    to{
        opacity: 1;
    }
}
.revealLeft{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 1.5s ease;
}
.activeLeft{
    transform: translateY(0px);
    opacity: 1;
}
.revealRight{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 1.5s ease;
}
.activeRight{
    transform: translateY(0px);
    opacity: 1;
}
.revealBot{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
}
.activeBot{
    transform: translateY(0px);
    opacity: 1;
}
.revealFade{
    opacity: 0;
    transition: all 1.5s ease;
}
.activeFade{
    opacity: 1;
}
.revealTransform{
    transform: scale(0%);
    opacity: 0;
    transition: all 1.5s ease;
}
.activeTransform{
    transform: scale(100%);
    opacity: 1;
}